#root > div > div > div > div > div > div.text-center > svg{
    transform: rotate(90deg)!important;
    /* margin: 0 auto; */
    position: absolute;
    margin-top: 91px;
    margin-left: 18px;
}
.primarySize{
    /* color: blue; */
    /* margin-bottom: 50px; */
}

#matalanWeb{
    transform: rotate(90deg);
    right: 0;
    /* top: 58px; */
    color: black;
    /* left: -112px; */
    /* top: -12px; */
    margin: 124px -29px;
    font-size: 11px;
}

.storyName{
    position: absolute;
    transform: rotate(90deg);
    /* color: red; */
    margin: 122px 0px;
    /* padding: 5px; */
    font-size: 14px;
}

.slicedBarCode{
    transform: rotate(90deg);
    right: 0;
    margin: 170px 23px;
    font-size: 10px;
}

#root > div > div > div > div > div > p{
    margin-top: 5px;
    font-size: 8px;
    font-weight: 700;
}
.seasonCode{
    /* color: ; */
    /* right: 75px; */
    /* bottom: -11px; */
    font-size: 10px;
    font-weight: 600;
    margin-top: 178px;
    position: absolute;
    right: 62px;
    
}

.bottomCorner{
    transform: rotate(45deg);
    left: 53px;
    position: absolute;
    bottom: 13px;
}

/* #root > div > div > div > div:nth-child(1) > div > div.text-center.relative.py-1.-mx-1.h-\[310\.06px\] > svg */