@font-face {
    font-family: 'Futura PT';
    src: url('../../fonts/FuturaPTBook.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'helvetica regular';
    src: url('../../fonts/Helvetica/Helvetica Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* @font-face {
    font-family: 'Futura PT';
    src: url('..') format('truetype');
    font-weight: bold;
    font-style: normal;
  } */
/* body{
    
        font-family: 'Futura PT','helvetica regular', sans-serif;
      
} */
#root > div > div > div > div > div > div.text-center > svg{
    transform: rotate(90deg)!important;
    position: absolute;
    margin-top: 135px;
    /* margin-left: 1px; */
}
.primarySize{
    position: absolute;
    /* margin-left: 70px;
    margin-top: 10px; */
    left: 50%;
    transform: translate(-50%, 10%);
    font-family: 'futura pt';
}
#matalanWeb{
    transform: rotate(90deg);
    right: 0;
    margin: 176px -14px;
    font-size: 9.33px;
    font-family: 'futura pt'!important;
}

.storyName{
    position: absolute;
    transform: rotate(90deg);
    margin: 167px 7px;
    font-size: 10.5px;
    font-family: 'futura pt';
}

.slicedBarCode{
    transform: rotate(90deg);
    right: 0;
    margin: 225px 36px;
    font-size: 7.33px;
    font-family: 'helvetica regular';
}

#root > div > div > div > div > div > p{
    margin-top: 5px;
    font-size: 8px;
    font-weight: 700;
}
.seasonCode{
    font-size: 7.33px;
    /* font-weight: 600; */
    margin-top: 234px;
    position: absolute;
    right: 71px;
    font-family: 'helvetica regular';
    
}

.bottomCorner{
    transform: rotate(45deg);
    left: 48px;
    position: absolute;
    bottom: 21px;
    font-size: 13.33px;
}

/* #root > div > div > div > div > div > div.text-center.relative.py-1.-mx-1.h-\[310\.06px\] > div.flex.justify-between.items-center.px-2 > svg.text-base.mt-5{
    margin-right: 20px;
} */

.backCirlcle{
    margin-right: 20px;
}

.frontCirlcle{
    margin-top: 20px!important;
    left: 43%;
}

.inner-border {
    /* box-shadow: inset 0 0 0 2px #000;
    outline: 2px solid #000;
    padding: 15px;
    box-sizing: border-box; */
    outline: 2px solid rgb(16, 203, 236);
    outline-offset: -10px;
  }