#root > div > div > div > div > div > div.text-center > svg{
    transform: rotate(90deg)!important;
    margin: 0 auto;
}
.primarySize{
    /* color: blue; */
    /* margin-bottom: 50px; */
}

#matalanWeb{
    transform: rotate(90deg);
    right: 0;
    /* top: 58px; */
    color: black;
    /* left: -112px; */
    /* top: -12px; */
    margin: -100px -17px;
}

.storyName{
    position: absolute;
    transform: rotate(90deg);
    /* color: red; */
    margin: -120px 35px;
}

.slicedBarCode{
    transform: rotate(90deg);
    right: 0;
    margin: -40px 65px;
    font-size: 12px;
}

#root > div > div > div > div > div > p{
    margin-top: 5px;
    font-size: 8px;
    font-weight: 700;
}
.seasonCode{
    /* color: ; */
    right: 75px;
    bottom: -11px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.bottomCorner{
    transform: rotate(45deg);
    left: 111px;
    position: absolute;
    bottom: 25px;
}